<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuite name="transcoder">
        <directory suffix=".php">tests</directory>
    </testsuite>
</phpunit>
