<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true">
    <testsuite name="brainbits">
        <directory>Brainbits/</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/Brainbits/</directory>
        </whitelist>
    </filter>
</phpunit>
